.search-container {
    text-align: center; 
    margin-bottom: 20px;
}

.search-container input {
    font-family: "Nunito", serif;
    width: 30vw;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: #fff;
    background: #141414;
    border-radius: 50px;
}

#search {
    width: 40vw;
    padding: 10px;
    background-color: #141414;
    border-radius: 50px;
    border: none;
    color: white;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.image-item {
    position: relative;
    width: 200px;
    height: 170px;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 10px;
}

.image-item:hover {
    transform: scale(1.1);
}

.image-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.appImage {
	opacity: 0;
	animation: fade-in-bottom 1s;
}

.appsContainer {
	top: 65px;
	position: absolute;
	width: 1070px;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
	justify-content: flex-start;
}

.appsContainer img {
	width: 198px;
	height: 128px;
	object-fit: cover;
	border-radius: 14px;
	cursor: pointer;
	transition: 0.2s ease-in-out !important;
}

.appsContainer img:hover {
	transform: scale(1.05);
	transition: 0.2s ease-in-out !important;
}

.appsContainer img:active {
	transition: 0s;
	outline: 2px solid var(--image-outline-color);
}

.gameImage {
	opacity: 0;
	animation: fade-in-bottom 1s;
}

.appsContainer {
	opacity: 1;
}

.gameContain {
	top: 65px;
	position: absolute;
	width: 1070px;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
	justify-content: flex-start;
}

.gameContain img {
	width: 198px;
	height: 128px;
	object-fit: cover;
	border-radius: 14px;
	cursor: pointer;
	transition: 0.2s ease-in-out !important;
}

.gameContain img:hover {
	transform: scale(1.05);
	transition: 0.2s ease-in-out !important;
}

.gameContain img:active {
	transition: 0s;
	outline: 2px solid var(--image-outline-color);
}

.scrolltop {
	background-color: var(--scrolltop-background-color);
	backdrop-filter: var(--scrolltop-backdrop-filter);
	width: 49px;
	height: 49px;
	border-radius: 50%;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	transition: 0.3s ease-in-out all;
	opacity: 0;
}

.scrolltop:hover {
	transform: scale(1.1);
}

.scrolltop span.material-symbols-outlined {
	justify-content: center;
	transform: translateY(-10px);
	font-size: 30px;
}

.randomBtn {
	height: 35px;
	padding: 0 20px;
	text-wrap: nowrap;
	background-color: var(--random-btn-background-color);
	border-radius: 10px;
	border: 0;
	text-align: center;
	outline: #ffffff17 1px solid;
	user-select: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 140px;
	margin-left: -13em;
	font-weight: 200;
	color: #868686;
	font-family: 'DM Sans';
	transition: 0.3s all ease-in-out;
	animation: fade-in-left 1s;
	display: flex;
	align-items: center;
}

.randomBtn:hover {
	background-color: var(--random-btn-hover-background-color);
	outline: var(--border-color) 1px solid;
}

.randomBtn:active {
	background-color: var(--random-btn-active-background-color);
}

.gameSearchInput,
.appsSearchInput,
#gointospace {
	padding-left: 40px;
}

.search-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	border-radius: 30px;
}

.search-header__input {
	font-family: 'DM Sans';
	font-size: 16px;
	background-color: var(--input-background-color);
	border: solid 0.5px var(--border-color);
	color: var(--text-color);
	padding: 0.7rem 1rem;
	border-radius: 25px;
	width: 240px;
	height: 20px;
	transition: all ease-in-out 0.5s;
	margin-right: -2rem;
	opacity: 1;
	text-align: center;
}

.search-header__input:not(#gointospace2):hover,
.search-header__input:not(#gointospace2):focus {
	box-shadow:
		10px 5px 40px -10px var(--dshadow1),
		-14px -4px 40px -10px var(--dshadow2);
	padding-left: calc(+50px) !important;
	padding-right: calc(+50px) !important;
}

.search-header__input:focus {
	outline: none;
	background-color: #0a0a0af0;
}

.search-header__input::-webkit-input-placeholder {
	font-weight: 200;
	color: #868686;
	font-family: 'DM Sans';
}

.search-header__input:focus + .search-header__button {
	background-color: transparent;
}

.search-header__button {
	border: none;
	background-color: transparent;
	margin-top: 0.1em;
}

.search-header__button:hover {
	cursor: pointer;
}

.search-header__icon {
	height: 1.3em;
	width: 1.3em;
	fill: #3a3a3a;
}

.searchEngineIcon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	z-index: 9999999;
	margin-right: -35px;
}



.image-item {
    position: relative;
    width: 200px;
    height: 170px;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 10px;
}

.image-item:hover {
    transform: scale(1.1);
}

.image-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
